[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/*.app
UserSettings/
MemoryCaptures/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
*.apk
*.aab
*.unitypackage
crashlytics-build.properties
Assets/AssetStoreTools*
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Netlify deploy folder は含める
!Builds/WebGL/

# Local Netlify folder
.netlify
